<h1>Lista samochodów</h1>
<div class="car-list">
  <div class="car-list-header">
    <div>Marka</div>
    <div>Model</div>
    <div>Rok produkcji</div>
    <div></div>
  </div>
  <div *ngFor="let car of cars; let odd = odd" class="car-item" [class.odd]="odd">
    <!-- [ngClass]="{'odd': odd}" -->
    <div class="car-mark">{{ car.mark }}</div>
    <div class="car-model">{{ car.model }}</div>
    <div class="car-year">{{ car.year }}</div>
    <div class="links">
      <span class="details-link"><a href="#">Szczegóły</a></span>
      <span class="delete-link"><a href="#" (click)="deleteCar(car)">Usuń samchód</a></span>
    </div>
  </div>
</div>
