h1 {
  text-align: center;
}

.car-list {
  margin: 10px auto;

  .car-list-header,
  .car-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
  }

  .car-list-header {
    font-weight: bold;
  }

  .car-item {
    background-color: #ddd;

    &.odd {
      background-color: #eee;
    }

    .links {
      span {
        margin: 10px;
      }
    }
  }
}
