<div class="add-car">
  <form #addCarForm (ngSubmit)="addCar(addCarForm)">
    <div class="row">
      <label>Marka</label>
      <input type="text" [(ngModel)]="newCar.mark" name="mark" autocomplete="off" />
    </div>
    <div class="row">
      <label>Model</label>
      <input type="text" [(ngModel)]="newCar.model" name="model" autocomplete="off" />
    </div>
    <div class="row">
      <label>Rok produkcji</label>
      <select [(ngModel)]="newCar.year" name="year">
        <option *ngFor="let year of years">{{ year }}</option>
      </select>
    </div>

    <button type="submit">Dodaj samochód</button>
  </form>
</div>
